.formulario__botao {
    background-color: #1976D2;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: #FFFFFF;
    display: block;
    padding: 0.8em 5em;
    margin: 2.5em auto;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.formulario__botao:hover {
    transform: translateY(5px);
    box-shadow: none;
}