.formulario__row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.formulario__row .formulario__wrapper {
    width: 49%;
}


