.formulario__row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


@media screen and (min-width: 0) {
    .formulario__row {
        flex-direction: column;
    }

    .formulario__row .formulario__wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .formulario__row {
        flex-direction: row;
    }

    .formulario__row .formulario__wrapper {
        width: 49%;
    }
}



