.container {
    background-color: #FFFFFF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    padding: 1em 2em 4em 2em;
    width: 100%;
}